Source: hildon-base
Section: misc
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.0

Package: hildon-base
Architecture: all
Conflicts: consolekit
Depends: elogind, xserver-xorg-legacy
Description: Hildon base settings and configuration
